# Python & OS
venv/
__pycache__/
*.pyc
.DS_Store

# Terraform (Infrastructure State)
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Ansible & Inventory
*.log
*.retry
ansible/inventory/hosts.ini
ansible/generated/*

# Virtualization (Heavy Images)
*.qcow2
*.iso
*.img
*.tfvars
join_command.txt
.kube/config
join_command.txt
*.tfvars
generated_hosts.ini

# Helm & K8s Secrets
*-secrets.yaml
join_command.txt
.kube/

# Личные черновики и документация в разработке
docs/
*.txt
