# ==========================================
# 🛑 СЕКРЕТЫ И ПАРОЛИ (КРИТИЧЕСКИ ВАЖНО)
# ==========================================
# Локальные переменные окружения
.env
.env.*
.restic_env

# Файлы с паролями (на будущее, для автоматизации)
.vault_pass
*.password
*.token
*-secrets.yaml
zfs-iscsi-secrets.yaml

# SSH ключи
*.pem
*.key
*.cer
id_rsa
id_ed25519
id_ecdsa
id_dsa
*.ppk

# ==========================================
# 🏗 TERRAFORM (Infrastructure State)
# ==========================================
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
crash.log
crash.*.log

# ==========================================
# ⚙️ ANSIBLE & INVENTORY
# ==========================================
*.log
*.retry
ansible/inventory/hosts.ini
ansible/generated/*
generated_hosts.ini

# ==========================================
# 🐳 VIRTUALIZATION & IMAGES
# ==========================================
*.qcow2
*.iso
*.img

# ==========================================
# ☸️ KUBERNETES
# ==========================================
.kube/
join_command.txt
kubeconfig*

# ==========================================
# 🐍 PYTHON & OS
# ==========================================
venv/
__pycache__/
*.pyc
.DS_Store

# ==========================================
# 📝 ЧЕРНОВИКИ
# ==========================================
docs/
*.txt
kubernetes/main/alertmanager-values-secrets.yaml
*.kubeconfig
_archive/
