# Python & OS
venv/
__pycache__/
*.pyc
.DS_Store

# Terraform (Infrastructure State)
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Ansible & Inventory
*.log
*.retry
ansible/inventory/hosts.ini
ansible/generated/*

# Virtualization (Heavy Images)
*.qcow2
*.iso
*.img
