csiDriver:
  name: "org.democratic-csi.iscsi"

driver:
  config:
    driver: zfs-generic-iscsi
    sshConnection:
      host: 192.168.1.176
      port: 22
      username: km
      privateKey: |
        -----BEGIN OPENSSH PRIVATE KEY-----
        b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
        QyNTUxOQAAACBblDYymV+kxUBdKsEBc/jURBJe+/RMORekPPARm8Pa6wAAAIj7K9dg+yvX
        YAAAAAtzc2gtZWQyNTUxOQAAACBblDYymV+kxUBdKsEBc/jURBJe+/RMORekPPARm8Pa6w
        AAAEClDGowGN8b2M8clbv+nGaQLtccqmLjnhS8mglHvLSs51uUNjKZX6TFQF0qwQFz+NRE
        El779Ew5F6Q88BGbw9rrAAAABWttQGtt
        -----END OPENSSH PRIVATE KEY-----
    httpConnection:
      protocol: https
      host: 192.168.1.176
      port: 443
      apiKey: "2-jXhT6R9Vnk4PHNs3PyFBUYdq2NSyADl7kS9AYDMoTLHW70cGdpMXYOr9L7IWthQr"
      allowInsecure: true
    zfs:
      datasetParentName: NVME/k8s-vols/data
      detachedSnapshotsDatasetParentName: NVME/k8s-vols/snaps
      cli:
        sudoEnabled: true
    iscsi:
      # ВОТ ЭТОЙ СТРОКИ НЕ ХВАТАЛО
      shareStrategy: freenas-api-iscsi
      targetPortal: "192.168.1.176:3260"
      targetGroups:
        - targetPortalGroupTag: 2
          targetInitiatorGroupTag: 1
          targetAuthMethod: None
      targetList:
        - k8s-target-nvme
      namePrefix: "pvc-"

storageClasses:
- name: truenas-iscsi
  defaultClass: true
  reclaimPolicy: Delete
  volumeBindingMode: Immediate
  allowVolumeExpansion: true
  parameters:
    fsType: ext4
