alertmanager:
  config:
    global:
      resolve_timeout: 5m
    route:
      group_by: ['alertname', 'job', 'instance']
      group_wait: 10s
      group_interval: 1m
      repeat_interval: 1h
      receiver: 'telegram-critical'
      routes:
        - matchers:
            - alertname=~"Watchdog|InfoInhibitor"
          receiver: 'blackhole'
        - matchers:
            - severity="critical"
          receiver: 'telegram-critical'
        - matchers:
            - severity="warning"
          receiver: 'telegram-critical'
    receivers:
      - name: 'blackhole'
      - name: 'telegram-critical'
        telegram_configs:
          - bot_token: "{{ vault_telegram_bot_token }}"
            chat_id: {{ vault_telegram_chat_id }}
            parse_mode: 'HTML'
            send_resolved: true
            message: |-
              {{ '{{' }} range .Alerts {{ '}}' }}
              {{ '{{' }} if eq .Status "firing" {{ '}}' }}🚨 <b>ТРЕВОГА</b> 🚨
              <b>Имя:</b> <code>{{ '{{' }} .Labels.alertname {{ '}}' }}</code>
              <b>Узел:</b> <code>{{ '{{' }} .Labels.instance {{ '}}' }}</code>
              <b>Детали:</b> {{ '{{' }} .Annotations.description {{ '}}' }}
              {{ '{{' }} else {{ '}}' }}✅ <b>ОТБОЙ</b> ✅
              <b>Имя:</b> <code>{{ '{{' }} .Labels.alertname {{ '}}' }}</code>
              <b>Узел:</b> <code>{{ '{{' }} .Labels.instance {{ '}}' }}</code>
              <b>Детали:</b> Показатели вернулись в норму. Железо остыло, можно выдыхать 😮‍💨.
              {{ '{{' }} end {{ '}}' }}
              
              {{ '{{' }} end {{ '}}' }}
