---
- name: Initialize Kubernetes Master and Network
  hosts: k8s_master
  become: true
  tasks:
    - name: Kubeadm Init
      shell: "kubeadm init --pod-network-cidr=10.244.0.0/16 --apiserver-advertise-address={{ ansible_host }}"
      register: init_out
      failed_when: "init_out.rc != 0 and 'already exists' not in init_out.stderr"

    - name: Setup kubeconfig for km
      file: { path: "/home/km/.kube", state: directory, owner: km, group: km }

    - name: Copy admin.conf
      copy: { src: /etc/kubernetes/admin.conf, dest: /home/km/.kube/config, remote_src: yes, owner: km, group: km }

    - name: Install Flannel Network (CNI)
      become: false
      shell: "kubectl apply -f https://github.com/flannel-io/flannel/releases/latest/download/kube-flannel.yml"
      register: cni_out
      changed_when: "'created' in cni_out.stdout or 'configured' in cni_out.stdout"

    - name: Generate Join Command
      shell: "kubeadm token create --print-join-command"
      register: join_cmd

    - name: Save join command to local file
      delegate_to: localhost
      become: false
      copy:
        content: "{{ join_cmd.stdout }} --node-name "
        dest: "./join_command.txt"

    - name: Fetch kubeconfig to Manjaro
      fetch: { src: /etc/kubernetes/admin.conf, dest: ~/.kube/config, flat: yes }
