---
- name: Join Workers to Cluster
  hosts: k8s_workers
  become: true
  tasks:
    - name: Read join command from local file
      set_fact:
        join_cmd: "{{ lookup('file', './join_command.txt') }}"

    - name: Execute Join
      shell: "{{ join_cmd }} {{ inventory_hostname }}"
      register: join_out
      failed_when: "join_out.rc != 0 and 'already exists' not in join_out.stderr"
